@charset "UTF-8";
/* CSS Document */

*{margin: 0px;
  padding: 0px;
  border: 0px;
}


body{
	background-image: url(contactbg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 748px;
	width: 1434px;
}