@charset "UTF-8";
/* CSS Document */

#box{
	width: 1434px;
	height: 748px;
}

#top{
	width: 1434px;
	height: 127px;
}

#center{width:1434px;
         height:621px;
}

#left{width:214px;
      height:621px;
	  float:left;
}

#right{width:928px;
       height:351px;
	   float:left;
}