@charset "UTF-8";
/* CSS Document */

#box{
	width: 1434px;
	height:748px;
}

#top{
	width: 1434px;
	height: 211px;
}

#center{width:1434px;
         height:537px;
}

#left{width:214px;
      height:537px;
	  float:left;
}